


    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0"><%= tour.title ? tour.title : 'Yeni Ekle' %></h1>
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <li class="breadcrumb-item text-muted">
                        <a href="/admin" class="text-muted text-hover-primary">Anasayfa</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-muted">Tur İşlemleri</li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                     <li class="breadcrumb-item text-muted">
                        <a href="/turlar" class="text-muted text-hover-primary">Turlar</a>
                    </li>
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-400 w-5px h-2px"></span>
                    </li>
                    <li class="breadcrumb-item text-muted"><%= tour.title ? tour.title : 'Yeni Ekle' %></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="kt_app_content" class="app-content flex-column-fluid">
        <div id="kt_app_content_container" class="app-container container-fluid">
            <div class="card card-docs flex-row-fluid mb-2">
                <div class="card-body fs-6 py-15 px-10 py-lg-15 px-lg-15 text-gray-700">

                    <form action="/createOrUpdateTourAjax" id="item_save_form" method="post" enctype="multipart/form-data">
                           
                        <input type="hidden" id="id" name="id" value="<%= tour.id %>" />
                        
                        <div class="mb-10">
                            <label class="required form-label">Kategori</label>
                            <select multiple="multiple" class="form-select form-select-solid" id="category" name="category" data-control="select2" data-placeholder="Seçim yapınız">
                                <option></option>
                                <% categories.forEach(item =>{ %>
                                    <option value="<%= item.id %>" <%= categoryIds.includes(item.id) ? 'selected=selected' : '' %>><%= item.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="mb-10">
                            <label class="required form-label">Başlık</label>
                            <input type="text" class="form-control" id="title" name="title" value="<%= tour.title %>" />
                        </div>
                        <div class="mb-10">
                            <label class="form-label">Sıra</label>
                            <input type="text" class="form-control" id="sequence" name="sequence" value="<%= tour.sequence %>"  />
                        </div>
                        <div class="mb-10">
                            <label class="form-label">Gün</label>
                            <input type="text" class="form-control" id="day" name="day" value="<%= tour.day %>"  />
                        </div>
                        <div class="mb-10">
                            <label class="form-label">Kişi</label>
                            <input type="text" class="form-control" id="persons" name="persons" value="<%= tour.persons %>"  />
                        </div>
                        <div class="mb-10">
                            <label class="form-label">Fiyat</label>
                            <input type="text" class="form-control" id="price" name="price" value="<%= tour.price %>"  />
                        </div>
                        <div class="mb-10">
                            <input type="hidden" name="dataSrcCoverUrl" value="<%= tour.coverUrl %>">
                            <div style="width: 300px; height: auto;">
                                <% if(tour.coverUrl){ %>
                                    <img src="<%= tour.coverUrl %>" alt="" style="width:100%;">
                                <% }else{ %>
                                    <img src="/webUI/image/no_image.png" alt="" style="width:100%;">
                                <% } %>
                            </div>
                            <label class="form-label">Cover İmage (370x247)</label>
                            <input type="file" name="coverUrlFile" accept="image/png, image/gif, image/jpeg" />
                        </div>
                        <div class="mb-10">
                            <input type="hidden" name="dataSrcHeadImgUrl" value="<%= tour.headImgUrl %>">
                            <div style="width: 300px; height: auto;">
                                <% if(tour.headImgUrl){ %>
                                    <img src="<%= tour.headImgUrl %>" alt="" style="width:100%;">
                                <% }else{ %>
                                    <img src="/webUI/image/catalog/demo/product/travel/tour-detail.jpg" alt="" style="width:100%;">
                                <% } %>
                            </div>
                            <label class="form-label">Head İmage (1920x600)</label>
                            <input type="file" name="headImgUrlFile" accept="image/png, image/gif, image/jpeg" />
                        </div>
                        <div class="mb-10">
                            <label class="form-label">Açıklama</label>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="description" name="description" style="height: 100px"  value="<%= tour.description %>" ></textarea>
                            </div>
                        </div>
                        <div class="mb-10">
                            <label class="required form-label">Başlama Tarihi</label>
                            <input type="text" class="form-control" id="started_at" name="startedAt"  value="<%= tour.startedAt %>"  />
                        </div>
                        <div class="mb-10">
                            <label class="required form-label">Bitiş Tarihi</label>
                            <input type="text" class="form-control" id="finished_at" name="finishedAt"  value="<%= tour.finishedAt %>"  />
                        </div>
                        <div class="mb-10 border">
                            <label class="form-label">Genel Bakış</label>
                            <div id="toolbar_container_header"></div>
                            <textarea id="overview" name="overview" class="tox-target">
                                 <%= tour.overview %>
                            </textarea>
    
                            <div class="d-none" id="overview_hidden">
                                
                            </div>
                        </div>

                        <div class="mb-10 border">
                            <div class="alert alert-dismissible bg-light-primary d-flex flex-column flex-sm-row p-5 m-10">
                                <span class="svg-icon svg-icon-2hx svg-icon-primary me-4 mb-5 mb-sm-0">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
                                        <path d="M10.4343 12.4343L8.75 10.75C8.33579 10.3358 7.66421 10.3358 7.25 10.75C6.83579 11.1642 6.83579 11.8358 7.25 12.25L10.2929 15.2929C10.6834 15.6834 11.3166 15.6834 11.7071 15.2929L17.25 9.75C17.6642 9.33579 17.6642 8.66421 17.25 8.25C16.8358 7.83579 16.1642 7.83579 15.75 8.25L11.5657 12.4343C11.2533 12.7467 10.7467 12.7467 10.4343 12.4343Z" fill="currentColor"/>
                                        </svg>
                                </span>

                                <div class="d-flex flex-column pe-0 pe-sm-10">
                                    <h4 class="fw-semibold">1. Gün</h4>
                                    <span>The alert component can be used to highlight certain parts of your page for higher content visibility.</span>
                                </div>

                                <button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
                                    <span class="svg-icon svg-icon-1 svg-icon-primary">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.3" d="M6 19.7C5.7 19.7 5.5 19.6 5.3 19.4C4.9 19 4.9 18.4 5.3 18L18 5.3C18.4 4.9 19 4.9 19.4 5.3C19.8 5.7 19.8 6.29999 19.4 6.69999L6.7 19.4C6.5 19.6 6.3 19.7 6 19.7Z" fill="currentColor"/>
                                            <path d="M18.8 19.7C18.5 19.7 18.3 19.6 18.1 19.4L5.40001 6.69999C5.00001 6.29999 5.00001 5.7 5.40001 5.3C5.80001 4.9 6.40001 4.9 6.80001 5.3L19.5 18C19.9 18.4 19.9 19 19.5 19.4C19.3 19.6 19 19.7 18.8 19.7Z" fill="currentColor"/>
                                            </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                  
             
                        <div class="form-check form-switch form-check-custom form-check-solid my-10">
                            <input class="form-check-input" type="checkbox" id="is_active" name="isActive" <%= tour.isActive ? 'checked=checked' : '' %> />
                            <label class="form-check-label" for="is_active">
                                Aktif
                            </label>
                        </div>
                    
                        <div class="form-group row mt-5">
                            <div class="col-md-2">
                                <a href="/tur-listesi" class="btn btn-block btn-dark" id="back_btn">GERİ</a>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary" id="save_btn">
                                    <span class="indicator-label">
                                        KAYDET
                                    </span>
                                    <span class="indicator-progress">
                                        Lütfen Bekleyin... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="../assets/global/plugins/jquery-form/jquery.form.js"></script>
    <script src="../assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="../assets/plugins/custom/tinymce/tinymce.bundle.js"></script>

<script>

    $(document).ready(function(){
        $('#day, #sequence, #persons').inputmask({
            mask: '9',
            repeat: 12,
            greedy: !1
        })
        $('#price').inputmask({
            'alias': 'decimal',
            rightAlign: false,
            showMaskOnHover: false,
            'autoGroup': false,
            'digits': 2,
            'digitsOptional': false,
            'placeholder': '0.00',
            autoGroup: true,
            allowMinus: false,
            radixPoint: '.'
        })

        $("#started_at, #finished_at").flatpickr();

        tinymce.init({
            selector: "#overview",
            height:'480',
            plugins: "code",
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save();
                });
            }
        })
    })
 
    $('#item_save_form').ajaxForm({
        beforeSubmit: function (arr) {

            if ($('#category').val() == "") {
                toastr.warning("Kategori seçiniz");
                $('#category').focus();
                return false;
            }
            if ($('#title').val() == "") {
                toastr.warning("Başlık giriniz");
                $('#title').focus();
                return false;
            }
            if ($('#started_at').val() == "") {
                toastr.warning("Başlama tarihi giriniz");
                $('#started_at').focus();
                return false;
            }
            if ($('#finished_at').val() == "") {
                toastr.warning("Bitiş tarihi giriniz");
                $('#finished_at').focus();
                return false;
            }

            $('#save_btn').attr("data-kt-indicator", "on")
            $('#save_btn').attr("disabled", "disabled")
        },
        beforeSend: function (e) {

        },
        complete: function (result) {
            console.log(result.responseJSON)

            if (result.responseJSON.isSuccess) {
                toastr.success(result.responseJSON.message);
            }
            else {
                toastr.error(result.responseJSON.message)
            }

            $('#save_btn').removeAttr('data-kt-indicator')
        },
    });

</script>