<div class="breadcrumbs">
    <div class="container">
        <div class="title-breadcrumb">
            Blog
        </div>
        <ul class="breadcrumb-cate">
            <li><a href="/">Anasayfa</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="blog-listitem row">

                <% blogs.forEach(item => { %>
                    
                    <div class="blog-item col-md-4 col-sm-4">
                        <div class="blog-item-inner">
                            <div class="itemBlogImg left-block">
                                <div class="article-image banners">
                                    <a class="popup-gallery" href="<%= item.headImgUrl %>">
                                        <img src="<%= item.headImgUrl %>" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="itemBlogContent right-block">
                                <div class="blog-content">
                                    <div class="media-content so-block">
                                        <div class="entry-meta clearfix">
                                            <div class="entry-date font-ct date-bottom">
                                                <i class="fa fa-calendar" aria-hidden="true"></i> <%= moment(item.releaseDate).format("DD/MM/YYY") %>
                                            </div>
                                        </div>
                                        <h4 class="media-heading head-item">
                                            <a href="/blog-detay/<%= item.url %>" title="<%= item.title %>" target="_self"><%= item.title %></a>
                                        </h4>
                                        <div class="description">
                                            <%- item.description %>...
                                        </div>
                                        <div class="readmore">
                                            <a href="/blog-detay/<%= item.url %>" target="_self">Devamını Oku</a>
                                        </div>
                                    </div>										
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>


            </div>
            <ul class="pagination">
                <% if(paginatedResults.previous){ %>
                    <li><a href="javascript:;" class="paginate-btn" data-value="<%= paginatedResults.previous.page %>"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                <% } %>
                <% for(let i = 0; i < paginatedResults.pageCount; i++){ %>
                    <li class=<%= i + 1 == paginatedResults.page ? 'active' : '' %>><a href="javascript:;" class="paginate-btn" data-value="<%= i + 1 %>"><%= i + 1 %></a></li>
                <% } %>
                <% if(paginatedResults.next){ %>
                    <li><a href="javascript:;" class="paginate-btn" data-value="<%= paginatedResults.next.page %>"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>